/* Color Scheme
******/

$fb-blue: #3b5998;
$white: #EEE5E9;
$black: #171738;
$sky: #1488CC;
$dblue: #091540;
$blue: #2B32B2;

/* Fonts
******/

$mon: 'Montserrat',
sans-serif;
$mer: 'Merriweather',
serif;
* {
    color: $black;
    font-weight: normal;
}

body {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    font-family: $mer;
}

.body-content {
    margin-top: 7em;
}

.centralised {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .fb-login-button {
        transition: 0.5s ease;
    }
    .fb-login-button:hover {
        opacity: 0.85;
    }
}

.header {
    background: #1488CC;
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);
    background: linear-gradient(to right, #2B32B2, #1488CC);
    border-bottom: 5px solid $black;
    padding: 30px 0 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    * {
        color: $white;
    }
    h1 {
        font-family: $mon;
        font-weight: 900;
    }
    h6 {
        text-align: right;
        font-weight: 900;
    }
}

#status {
    border-bottom: solid 5px $blue;
    h2 {
        font-family: $mon;
    }
}

#dp {
    float: right;
}

::selection {
    background-color: $dblue;
    color: $white;
}

@media only screen and (max-width: 500px) {
    .header {
        h1 {
            text-align: center;
        }
        h6 {
            text-align: center;
        }
    }
    .body-content {
        margin-top: 10em;
        h2 {
            font-size: 1.5em;
        }
    }
    #dp {
        height: 100px;
        width: 100px;
    }
}